/* Quiz styles */
//Variables
$bgcolor: lightblue;
$font: verdana;
$left: 150px;
$padding: 50px;
$border: gray dotted thick;

//SASS MIXIN 
@mixin test($border: gray dotted thick){
    border-radius: $border;
}

header {
    border: 2px solid #064277;
    @include test;
    margin: 10px auto;
    padding: $padding;
    background-color: $bgcolor;
    text-align: center;
}

body {
    width: 600px;
    margin: auto;
    font-family:$font;
    font-size: 1em;
    font-style:oblique;
    background-color: aliceblue;
}


h1 {
    color:#58a0e0;
}

#content {
    border: 2px solid #064277;
   @include test;
    margin: 10px auto;
    padding: 10px;
    background-color: $bgcolor;
}

#list{
    border: 2px solid #064277;
     @include test;
    background-color: $bgcolor;
}

h2 {
    color: #064277;
}

h3 {
    margin-left: $left;
    color:#58a0e0
}

ul{
    margin-left: $left;
}

p{
    font-family: $font;
    font-style:normal;
}

.samplepara {
    border: 3px solid #58a0e0;
     @include test;
    padding: $padding;
    background-color: $bgcolor;
}

footer {
    border: 2px solid #064277;
     @include test;
    margin: 10px auto;
    padding: 10px;
    background-color: $bgcolor;
}

#footer {
    font{ 
    size: .75em;
    style:italic;
    weight: bold;
    }
    color: #064277;
    text-align: center;
}


